<div class="container" style="margin-top:10%;">
        <div class="animated fadeIn">
           <div class="row" style="margin-top: 1px;">
               <p-toast key="myKey3" position="top-right" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-toast>
           </div>
           <div *ngIf="validar" class="row">
             <div class="col-md-2 offset-md-10">
                 <button type="button" class="btn btn-lg btn-light" routerLink="/articulos"><i class="fa fa-arrow-left"></i>Regresar</button>
             </div>
           </div>
                   <div class="row justify-content-center">
                     <div class="col-md-8">
                       <div class="card border-primary" >
                         <form action="form-horizontal" [formGroup]="articulosForm" (ngSubmit)="onRegisterSubmit(articulosForm)">
                           <div class="card-header bg-primary text-white">
                             <h3><strong>{{ title }}</strong></h3>
                             <div class="card-actions">
                               <a href="#" class="btn-setting text-primary" [routerLink]="['/clientes']">
                                 <i class="icon-arrow-left-circle"></i>
                               </a>
                             </div>
                           </div>
                           <div class="card-body bg-light">
                             <div class="row">
                               <div class="col-md-3 offset-md-9">
                                   <p class="text-success align-middle" ><strong><h4> Clave: 00{{ nuevoregistro }} </h4></strong></p>
                               </div>
                             </div>
                             <div class="form-group row">
                               <label class="col-md-4 form-control-label text-success" for="desc_articulo"><h4>Descripción:</h4></label>
                               <div class="col-md-8">
                                 <input type="text" formControlName="desc_articulo" class="form-control" name="desc_articulo" placeholder="Ingrese Descripción"/> 
                                 <span *ngIf="articulosForm.controls['desc_articulo'].invalid && articulosForm.controls['desc_articulo'].touched" class="hepl-block text-danger">
                                   *Este campo es requerido  
                                 </span> 
                               </div>
                             </div> 
                             <div class="form-group row">
                                 <label class="col-md-4 form-control-label text-success" for="desc_modelo"><h4>Modelo:</h4></label>
                                 <div class="col-md-8">
                                   <input type="text" formControlName="desc_modelo" class="form-control" name="desc_modelo" placeholder="Ingrese Modelo" /> 
                                   <span *ngIf="articulosForm.controls['desc_modelo'].invalid && articulosForm.controls['desc_modelo'].touched" class="hepl-block text-danger">
                                     *Este campo es requerido  
                                   </span> 
                                 </div>
                             </div> 
                             <div class="form-group row">
                                 <label class="col-md-4 form-control-label text-success" for="imp_precio"><h4>Precio:</h4></label>
                                 <div class="col-md-8">
                                   <input type="number" formControlName="imp_precio" class="form-control" name="imp_precio" placeholder="Ingrese Precio"/> 
                                   <span *ngIf="articulosForm.controls['imp_precio'].invalid && articulosForm.controls['imp_precio'].touched" class="hepl-block text-danger">
                                     *Este campo es requerido  
                                   </span> 
                                 </div>
                             </div>
                             <div class="form-group row">
                                 <label class="col-md-4 form-control-label text-success" for="num_cantidad"><h4>Existencia:</h4></label>
                                 <div class="col-md-8">
                                   <input type="number" formControlName="num_cantidad" class="form-control" name="num_cantidad" placeholder="Ingrese Existencia"/> 
                                   <span *ngIf="articulosForm.controls['num_cantidad'].invalid && articulosForm.controls['num_cantidad'].touched" class="hepl-block text-danger">
                                     *Este campo es requerido  
                                   </span> 
                                 </div>
                             </div>
                             <div class="card-footer clearfix">
                               <div class="group-buttons float-right">
                                 <button *ngIf="!id" (click)="resetFormulario()" class="btn btn-lg btn-warning" type="reset">
                                   <i class="fa fa-ban"></i>
                                   Limpiar
                                 </button>
                                 <button type="button" class="btn btn-lg btn-success" (click)="regresar()">Cancelar</button>
                                 <button type="submit" class="btn btn-lg btn-success" [disabled]="!articulosForm.valid">Guardar</button>
                               </div>
                             </div> 
                           </div>
                         </form>
                       </div>
                     </div>
                   </div>  
                 </div>
                 <div class="row">
                     <p-messages [(value)]="msgs"></p-messages>
                 </div>
     </div>