<div class="container" style="margin-top:10%;">
    <div class="row" style="margin-top: 15px;">
        <p-toast key="myKey2" position="top-right" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-toast>
    </div>
    <div class="animated fadeIn" style="margin-bottom: 10px;">
       <div class="row" style="margin-top: 1px;">
           <p-toast key="myKey3" position="top-right" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-toast>
       </div>
               <div class="row justify-content-center">
                 <div class="col-md-9">
                   <div class="card border-primary" >
                    <div class="card-header bg-primary text-white">
                        <h3><strong>Configuración General</strong></h3>
                        <div class="card-actions">
                          <a href="#" class="btn-setting text-primary" [routerLink]="['/configuracion']">
                            <i class="icon-arrow-left-circle"></i>
                          </a>
                        </div>
                    </div>
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="text-success">Tasa Financiamiento</h4>
                            </div>
                            <div class="col-md-2">
                                    <input id="input1" type="number" size="30" pInputText [(ngModel)]="tasa" [disabled]="disable1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="text-success">% Enganche</h4>
                            </div>
                            <div class="col-md-2">
                                <input id="input2" type="number" size="30" pInputText [(ngModel)]="enganche" [disabled]="disable2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="text-success">Plazo Máximo</h4>
                            </div>
                            <div class="col-md-2">
                                <input id="input1" type="number" size="30" pInputText [(ngModel)]="plazo" [disabled]="disable3">
                            </div>
                        </div>
                    </div>

                   </div>
                 </div>
               </div>  
        </div>
        <div class="row" stye="margin-top: 15px;">
            <div class="col-md-2 offset-md-6">
                <button type="button" class="btn btn-lg btn-success" (click)="regresar();">
                    Cancelar
                </button> 
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-lg btn-success" (click)="guardarConfiguracion()">
                    <i class="fa fa-save"></i> Guardar
                </button>
            </div>
        </div>
 </div>
