<div class="container">
  <div class="row" style="margin-top: 15px;">
        </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-3">
        <h4><strong><p class="text-info">Ventas Activas</p></strong></h4>
        </div>
      <div class="col-md-3 offset-md-6">
        <button type="button" class="btn btn-lg btn-primary" routerLink="/registrarVenta">
          <i class="fa fa-plus"></i> Nueva Venta
        </button>
      </div>
    </div>
    <div class="row animated fadeIn" style="margin-top: 15px;">
      <p-table [value]="ventasFinal" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>Folio Venta</th>
            <th>Clave Cliente</th>
            <th>Nombre</th>
            <th>Total</th>
            <th>Fecha</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vent>
          <tr>
          <td>{{ vent.idu_folio }}</td>
          <td>{{ vent.idu_cliente }}</td>
          <td>{{ vent.nom_cliente }}</td>
          <td>{{ vent.imp_total }}</td>
          <td>{{ vent.num_fecha }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  
